{% extends 'base.html' %}

{% block title %}Expense Traker{% endblock %}

{% block content %}

<div class="text-center py-5">
    <div class="container">
        <img src="../static/img/main-expense-traker-removebg-preview.png" alt="Wallet Logo" style="width: 100px;" class="mb-3">
        <h1>FAST BUDGET</h1>
        <p class="lead">Expense Manager</p>
        <p>Manage your personal finances and easily track your money, expenses, and budget.</p>
        <hr class="my-4" style="border-color: white;">
        <p>Try the web app or download the app for your devices:</p>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-dark me-2">
                <img src="/static/img/google_play_logo.png" alt="Google Play" style="width: 120px;">
            </a>
            <a href="#" class="btn btn-dark">
                <img src="/static/img/app_store_logo.png" alt="App Store" style="width: 120px;">
            </a>
        </div>
    </div>
</div>
{% endblock %}
