{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="mt-5 d-flex justify-content-center">
    <div class="card border-0" style="width: 100%; max-width: 400px;">
        <h1 class="text-center fs-3">Register</h1>
        <form method="post">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-2">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Name</label>
            </div>
        
            <div data-mdb-input-init class="form-outline mb-2">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Username</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-2">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="password1" class="form-control" />
                <label class="form-label" for="password1">Password</label>
            </div>
        
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="password2" class="form-control" />
                <label class="form-label" for="password2">Repeat password</label>
            </div>
    
            <!-- Submit button -->
            <button type="button"  style="width: 100%;" data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign
            </button>

            </div>
        </form>
    </div>
</div>


{% endblock %}